<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <h1>The Home Page <%= 4 + 5 + 1%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nulla quae 
        distinctio deleniti laudantium quo, reprehenderit totam rem consequatur 
        voluptate aperiam perspiciatis! Ipsa culpa delectus provident similique 
        officia, architecto nulla!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nulla quae
        distinctio deleniti laudantium quo, reprehenderit totam rem consequatur
        voluptate aperiam perspiciatis! Ipsa culpa delectus provident similique
        officia, architecto nulla!</p>
<%- include('partials/footer') %>